.login-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/background-login.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: brightness(0.3);
    z-index: -1;
}