.logo{
    width: 4rem;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4rem 0.5rem 4rem;
    z-index: 1000;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.options {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-family: var(--fuente-titulos);
  color: white;
}

.options li {
  cursor: pointer;
}

.navbar-button {
    padding: 10px 15px;
    background-color: var(--color-morado);
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--fuente-titulos);
}

.navbar-container {
  transition: background-color 0.3s ease;
}

.navbar-container.scrolling {
    background-color: rgba(46, 46, 46, 0.8);
    backdrop-filter: blur(10px);
}

.container-button {
    position: absolute;
    top: 17%;
    left: 85%;
}

.button_navbar {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}
  
.button_navbar::before,
.button_navbar::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}
  
.button_navbar::before {
    top: 0;
    border-bottom-width: 0;
}
  
.button_navbar::after {
    bottom: 0;
    border-top-width: 0;
}
  
.button_navbar:active,
.button_navbar:focus {
    outline: none;
}
  
.button_navbar:active::before,
.button_navbar:active::after {
    right: 3px;
    left: 3px;
}
  
.button_navbar:active::before {
    top: 3px;
}
  
.button_navbar:active::after {
    bottom: 3px;
}
  
.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}
  
.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}
  
.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}
  
.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: var(--color-morado);
    transform: skew(-15deg);
    transition: all .2s ease;
}
  
.button_text {
    position: relative;
}
  
.button_navbar:hover {
    color: #0f1923;
}
  
.button_navbar:hover .button_sl {
    width: calc(100% + 15px);
}
  
.button_navbar:hover .button_lg::after {
    background-color: #fff;
}
  
.user-circle {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 25%;
    gap: 1rem;
}
  
.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
}
  
.user-name {
    color: white;
    font-size: 14px;
}