.padre{
    height: 100vh;
    background-image: url(../../../../backend/src/nodemailer/img/img89.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.padre::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: brightness(70%) blur(2px);
}